
      <div class="row featurette">
        
        <div class="col-md-5">
          <img class="featurette-image img-responsive" lazy-src="{{globaVar.imagePrefix}}{{foodDetail.img}}" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">{{foodDetail.name}}</h2>
          <span class="text-muted">准备材料：</span>
          <h4>{{foodDetail.food}}</h4>
          <span class="text-muted">做法：</span>
          <p  class="lead">{{foodDetail.description}}</p>
          <!-- <div id="msg"></div>
           <script>
          	var d =document.createElement('div');
          	var str="{{foodDetail.message}}";
          	str =eval(str);
            d.innerHTML=str;
            document.getElementById('msg').appendChild(d);
             
          </script> -->
        </div>
      </div>
     
